@value colors: "../styles/colors.css";
@value rock,ghost,steel,water,grass,psychic,ice,dark,fairy,normal,fighting,flying,poison,ground,bug,fire,electric,dragon,darkgray,mediumgray,lightgray,background,pokemonred from colors; 

.main {
    background: background;
    width: 100%;
    display: flex;
    flex-flow: column;
    row-gap: 1.5rem;
    min-height: 100vh;
    margin-bottom: 1em;

}


.image {
padding: 1rem 0 1rem 0;
width: 100%;
display: flex;
flex-flow: row wrap;
justify-content: center;


}

.main h2 {
    width: 100%;
    line-height: 0em;
    text-align: center;
    color: background;
}

.main table {
    font-weight: normal;
    text-align: start;
}

.main th {
    font-weight: 400;
    text-align: start;
    padding-right: 1rem;
}

.main h3 {
    line-height: 0rem;
}

.about, .stats, .captured {
    background: white;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.05);
    margin: 0 1rem 0 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.btn {
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    border-radius: 2rem;
    background: pokemonred;
    color: background;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}

.back{
    color: background;
    font-size: 1.25rem;
    width: 100%;
    padding-left: 1rem;
}

.back:hover {
    cursor: pointer;
    opacity: 0.5;
}


@media only screen and (min-width: 768px) {
    .main {
        background: white;
        font-size: .75rem;
        position: fixed;
        width: 30%;
        top: 10vh;
        min-height: min-content;
        right: 1rem;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
        animation: slide .5s ease;
        row-gap: .5rem;
        padding-bottom: 1rem;
    }

    .slide-out {
        animation: slide-out .5s ease;

    }

    @keyframes slide {
        0% {
            width: 0;
        }
    
        100% {
            width: 30%;
        }
    }

    @keyframes slide-out {
        0% {
            width: 30%;
        }
    
        100% {
            width: 0;
            display: none;
        }
    }
    
}