@value colors: "../styles/colors.css";
@value rock,ghost,steel,water,grass,psychic,ice,dark,fairy,normal,fighting,flying,poison,ground,bug,fire,electric,dragon,darkgray,mediumgray,lightgray,background,pokemonred from colors; 

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: start;
    z-index: 1;
    margin: .5em;
    overflow: hidden;
    border-radius: 1em;
    width: 45%;
    background: white;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.05);
    transition: background .2s ease, width .2s ease;
}

.active, .main:hover {
    cursor: pointer;

    margin: 0.7em;
    filter: brightness(0.9);
    transition: margin .1s ease;
}

.main h2 {
    font-size: 1rem;
    line-height: 1em;
    margin: .75em 0 0 0;
    padding-left: 1em;
    width: 100%;
}

.main div {
    padding: 0em 0 1em 1em;
}

.image {
    display: inherit;
    width: 100%;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .main {
        width: 20%;
    }
}