

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@value rock: #BBAA66;
@value ghost: #6666BA;
@value steel: #AAAABB;
@value water: #3399FE;
@value grass: #76CC55;
@value pyschic #FF5599;
@value normal: #AAAA9B;
@value fighting: #BA5544;
@value flying: #8799FF;
@value posion: #AA5599;
@value ground: #DDBB54;
@value bug: #A9BB22;